/*================Home Page CSS===============*/
.hero-area {
    height: 540px;
    background: #314963;
    color: #fff;
    @include all-below-med{
        height: 480px;
        margin-top: 70px;
    }
    @include all-below-mobile-lg{
        height: 440px;
    }
    @include all-mx-mobile{
        height: auto;
        padding-bottom: 30px;
    }
    .hero-content{
        font-size: 16px;
        margin-top: 110px;
        position: relative;
        z-index: 2;
        @include all-below-med{
            margin-top: 80px;
        }
        @include all-below-mobile-lg{
            margin-top: 55px;
        }
        @include all-mx-mobile{
            margin-top: 25px;
            p{
                margin-bottom: 0;
            }
        }
        h2{
            @extend %primary-color;
            font-size: 48px;
            margin-bottom: 30px;
            @include mx-desktops{
                font-size: 40px;
            }
            @include all-below-med{
                font-size: 30px;
                margin-bottom: 25px;
            }
            @include mx-mobile-lg{
                br{
                    display: none;
                }
                font-size: 27px;
                margin-bottom: 20px;
            }
            @include all-mx-mobile{
                font-size: 32px;
                margin-bottom: 10px;
            }
            @include mx-mobile-xs{
                font-size: 26px;
            }
        }
        .boxed-btn{
            margin-top: 30px;
            background-color: #fff;
            font-family: "Poppins", sans-serif;
            @extend %primary-color;
            &:hover{
                @extend %primary-bg-color;
                @extend %white-color;
            }
            @include all-below-med{
                margin-top: 25px;
            }
            @include mx-mobile-lg{
                margin-top: 18px;
            }
            @include all-mx-mobile{
                margin-top: 10px;
            }
        }
    }
    .stars {
        margin: 0 8px;
    }
    .animated-shape {
        position: absolute;
        left: 0;
        top: 200px;
        z-index: 1;
        @include mx-desktops{
            top: 380px;
        }
        @include all-below-med{
            top:  293px;
        }
    }
    .animated-shape.shape-2 {
        left: auto;
        right: 0;
        @extend %basetransition1;
        @include mx-desktops{
            top: 200px;
        }
        @include all-below-med{
            top:  170px;
        }
    }
    .animated-shape.shape-3 {
        left: -122px;
        top: 65px;
        transition: all 2s ease;
        img{
            @include all-below-med{
                max-width: 200px;
            }
        }
        @include mx-desktops{
            left: 0;
            top: 30px;
        }
        @include all-below-med{
            left: 0;
            top: 50px;
        }
    }
    [data-aos=fade-left] {
        transform: translate3d(400px, 0, 0);
    }
    [data-aos=fade-up] {
        transform: translate3d(0, 200px, 0);
        
    }
    .single-slide-item {
        background: #fff;
        color: #314963;
        border-radius: 10px;
        padding: 10px 10px;
        margin: 0 auto;
        width: 260px;
        min-height: 300px;
        @include mx-desktops{
            width: 240px;
        }
        @include all-below-med{
            width: 230px;
        }
        @include all-below-mobile-lg{
            width: 240px;
        }
        @include all-mx-mobile{
            border: 1px solid #E6E6E6;
        }
        img {
            max-width: 92px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        h4 {
            font-size: 16px;
            font-size: 16px;
            display: inline-block;
            position: relative;
            span {
                position: absolute;
                right: -34px;
                top: -4px;
            }
            &.name {
                margin-right: 27px;
            }
        }
        h5 {
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 700;
            position: relative;
            color: #485E76;
            display: inline-block;
            margin-left: 20px;
            margin-bottom: 10px;
            i {
                position: absolute;
                left: -24px;
                top: -4px;
                font-size: 17px;
            }
        }
        .skills-list {
            margin-bottom: 17px;
            span {
                background: #F2F7FA;
                padding: 2px 8px;
                border-radius: 5px;
                color: #8CA2BB;
                margin: 0 2px;
            }
        }
        .ratings, .project-number {
            color: #485E76;
            font-size: 11px;
            font-weight: 700;
            position: relative;
            bottom: -2px;
        }
        
    }
}




.stars {
    span {
        color: #EDB742;
        font-size: 18px;
    }
}

// .brand-area
.brand-area {
    background-color: #E3EAF4;
    padding: 52px 0;
    @include all-below-med{
        padding: 38px 0;
    }
    @include all-below-mobile-lg{
        padding: 38px 0 24px;
    }
    .single-brand-item {
        @include all-below-mobile-lg{
            flex-basis: 30%;
            margin-bottom: 15px;
            text-align: center;
        }
        h4 {
            font-size: 19px;
            font-weight: 400;
            margin: 0 0 -8px;
            @include all-below-med{
                margin: 0 0 12px;
            }
            @include all-below-mobile-lg{
                text-align: center;
            }
        }
        img{
            @include all-below-med{
                max-width: 100px;
            }
            @include all-mx-mobile{
                max-width: 85px;
            }
        }
        &.title{
            @include all-below-med{
                flex-basis: 100%;
                // margin-bottom: 15px;
                br{
                    display: none;
                }
            }
        }
        &.brand-3 {
            img {
                margin-bottom: -15px;
            }
        }
    }
}

// .services-category-area
.services-category-area {
    padding: 40px 0 20px;
    .section-title {
        margin-bottom: 80px;
        @include all-below-med{
            margin-bottom: 40px;
        }
        h2 {
            @extend %primary-color;
            margin-bottom: 10px;
        }
    }
    .srow {
        padding-left: 5px;
        padding-right: 5px;
    }
    .cpadding{
        padding-left: 10px;
        padding-right: 10px;
    }
    .single-service-category {
        border: 1px solid #D1E0E5;
        border-radius: 5px;
        padding: 25px 20px 10px;
        display: block;
        color: #8CA2BB;
        @extend %basetransition2;
        margin: 0 0px 20px 0px;
        min-height: 305px;
        img {
            max-width: 132px;
            margin-bottom: 22px;
        }
        h4 {
            color: #314963;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 10px;
            @extend %basetransition2;
        }
        &:hover {
            background: #485E76;
            color: #fff;
            h4 {
                color: #fff;
            }
        }
    }
    .boxed-btn{
        margin-top: 5px;
        font-family: "Poppins", sans-serif;
        background-color: #F2F7FA;
        color: #8CA2BB;
        &:hover{
            @extend %primary-bg-color;
            @extend %primary-border-color;
            @extend %white-color;
        }
    }
}

// .find-area 
.find-area {
    padding: 120px 0 25px;
    background-color: #F2F5FA;
    @include all-below-med{
        text-align: center;
        padding: 80px 0 25px;
    }
    .find-content {
        color: #314963;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.6;
        padding-right: 70px;
        margin-top: 70px;
        @include mx-desktops{
            padding-right: 0;
        }
        @include all-below-med{
            padding-right: 0;
            margin-top: 30px;
        }
        @include all-below-mobile-lg{
            font-size: 18px;
        }
        .section-title h2 {
            margin-bottom: 35px;
            @include all-below-mobile-lg{
                margin-bottom: 20px;
            }
        }
        .boxed-btn {
            margin-top: 40px;
            font-size: 24px;
            font-weight: 400;
            @include all-below-mobile-lg{
                margin-top: 20px;
            }
        }
    }
}

.services-details-area{
    padding: 25px 0 60px;
    @include all-below-med{
        text-align: center;
    }
    .section-title {
        margin-bottom: 20px;
    }
    .section-title-2 {
        @include all-below-med{
            margin-bottom: 25px;
        }
    }
    .deliverable-service-section {
        margin-bottom: 25px;
    }
    .service-type-section {
        width: 890px;
        margin: 0 auto;
        margin-bottom: 50px;
        @include mx-desktops{
            width: 800px;
        }
        @include all-below-med{
            width: 100%;
            margin-bottom: 40px;
        }
        .single-service-type {
            color: #485E76;
            font-size: 18px;
            font-weight: 700;
            img {
                margin-right: 7px;
            }
            @include all-below-mobile-lg{
                font-size: 16px;
                margin: 0 10px 10px;
            }
        }
    }
    ul {
        li {
            a {
                color: #485E76;
                font-size: 16px;
                margin-bottom: 10px;
                @extend %basetransition1;
                &:hover {
                    @extend %primary-color;
                    text-decoration: underline;
                }
            }
        }
    }
}

// .services-section
.services-section {
    margin: 75px 0 40px;
    @include all-below-med{
        margin: 50px 0 20px;
    }
    .single-service-item {
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        min-height: 255px;
        padding: 20px;
        color: #333333;
        font-size: 13px;
        display: block;
        @extend %basetransition2;
        @include mx-desktops{
            padding: 20px 10px;
        }
        @include all-below-med{
            margin-bottom: 30px;
        }
        &:hover {
            box-shadow: 0px 0px 12px 0px rgba(30, 41, 50, 0.40);
            color: #333333;
        }
        h4 {
            color: #314963;
            font-size: 21px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        img {
            margin-bottom: 15px;
            max-width: 88px;
        }
    }
}

.contact-section {
    color: #1B2944;
    font-size: 21px;
    font-family: "Myriad Pro", sans-serif;
    @include all-below-mobile-lg{
        font-size: 18px;
    }
    h2 {
        color: #1B2944;
        font-size: 36px;
        font-weight: 700;
        font-family: "Myriad Pro", sans-serif;
        @include all-below-mobile-lg{
            font-size: 28px;
        }
    }
    .boxed-btn {
        width: 210px;
        margin-top: 10px;
    }
}

//.hero-slider
.hero-slider{
    @include all-mx-mobile{
        display: flex;
        justify-content: center;
    }
    .slider {
        position: relative;
        z-index: 200;
        padding: 0;
        max-width: 100%;
        width: 520px;
        height: 340px;
        overflow: hidden;
        // padding-left: 3px;
        float: right;
        margin-top: 105px;
        @include mx-desktops{
            width: 450px;
        }
        @include all-below-med{
            width: 330px;
            margin-top: 75px;
        }
        @include all-below-mobile-lg{
            width: 240px;
            margin-top: 55px;
        }
        @include all-mx-mobile{
            margin-top: 20px;
            width: 345px;
            height: 325px;
        }
    }
    .item.slick-slide {
        width: 355px;
        height: 330px !important;
        transition: transform .4s;
        position: relative; 
    }
    .item.slick-slide {
        transform: scale(0.7)  translate(640px);
    }
    .item.slick-slide.slick-center + .slick-slide {
        transform: scale(0.8) translate(-250px);
        z-index: 10;
        @include mx-desktops{
            transform: scale(0.8) translate(-283px);
        }
        @include all-below-med{
            transform: scale(0.8) translate(-353px);
        }
        @include mx-mobile-lg{
            transform: scale(1) translate(0);
        }
        @include mx-mobile-xs{
            transform: scale(0.8) translate(-385px);
        }
    }
    .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
        transform: scale(0.7)  translate(-640px);
        z-index: 5;
    }
    .item.slick-slide.slick-active {
        transform: scale(0.8) translate(247px);
        @include mx-desktops{
            transform: scale(0.8) translate(281px);
        }
        @include all-below-med{
            transform: scale(0.8) translate(351px);
        }
        @include mx-mobile-lg{
            transform: scale(1) translate(0);
        }
        @include mx-mobile-xs{
            transform: scale(0.8) translate(385px);
        }
    }
    .item.slick-slide.slick-center {
        transform: scale(1);
        z-index: 30;
    }
    .slick-center:after {
        opacity: 0;
    } 
}

// .slick-dots
.slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    text-align: center;
    li {
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #fff;
        margin: 0 3px;
        cursor: pointer;
        border-radius: 50px;
        button {
            display: none;
        }
        &.slick-active {
            width: 33px;
            @extend %primary-bg-color;
        }
    }
}

/*---------------after-login--------------*/ 